<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <div id="chat">
        <p id="username" class="form-control"><%= users.username %></p>

        <p id="username" class="form-control">Cores: <%= users.cpu_cores %></p>
        <p id="username" class="form-control">Ram: <%= users.ram_used %>/<%= users.ram %>MB</p>
        <p id="username" class="form-control">Disk: <%= users.disk_used %>/<%= users.disk %>MB</p>
        <p id="username" class="form-control">Servers: <%= users.servers_used %>/<%= users.servers %></p>
        <p id="username" class="form-control">Databases: <%= users.databases_used %>/<%= users.databases %></p>
        <p id="username" class="form-control">Extra Ports: <%= users.ports_used %>/<%= users.ports %></p>
        <p id="username" class="form-control">Can create servers (Beta): <%= users.beta_access %></p>

        <p>SERVER CREATION IS NOT WORKING RIGHT NOW, Please make a ticket in our discord (discord.gg/DzRCPwR9Bc)</p>

        <form>
          <form action="/create_server" method="POST">
          <label for="servername">Server name:</label><br>
          <input type="text" id="server_name" name="servername" value=""><br>
          <label for="country">CPU cores:</label><br> 
          <input type="text" id="cpu_cores" name="cpucores" value="0.7" readonly><br><br>
          <label for="lname">RAM:</label><br>
          <input type="text" id="ram_amount" name="ramamount" value="256" readonly><br><br>
          <label for="disk">Disk:</label><br> 
          <input type="text" id="disk" name="disk" value="2048" readonly><br><br>
          <label for="databases">Databases:</label><br> 
          <input type="text" id="datbases" name="databases" value="1" readonly><br><br>
          <label for="country">Extra ports:</label><br> 
          <input type="text" id="extra_ports" name="extraports" value="1" readonly><br><br>
          <p>Discord bots</p>
          <select id="8" name="discordbots"><br> 
            <option value="18">Discord.js</option>
            <option value="30">Discord.py</option>
            <option value="26">Dotnet</option>
            <option value="31">Discordgo</option>
            <option value="27">ATLauncher/discord-bot</option>
            <option value="28">Bastion</option>
            <option value="29">CorpBot.py</option>
            <option value="32">Fragbot</option>
            <option value="33">MusicBot</option>
            <option value="34">Pixelbot</option>
            <option value="35">Red-DiscordBot</option>
            <option value="36">SinusBot</option>
          </select><br><br>
          <label for="country">Location:</label><br> 
          <input type="text" id="location" name="location" value="Sweden" readonly><br><br>
          <button type="submit" class="btn btn-primary btn-block">Create Server</button>
        </form>
        <br />
        <div id="status"></div>
        <div id="chat">
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <link rel="stylesheet" href="../style/style.css" />
</div>

