<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <div id="chat">
        <p id="username" class="form-control"><%= users.username %></p>

        <p id="username" class="form-control">Ram: <%= users.ram_used %>/<%= users.ram %>MB</p>
        <p id="username" class="form-control">Disk: <%= users.disk_used %>/<%= users.disk %>MB</p>
        <p id="username" class="form-control">Servers: <%= users.servers_used %>/<%= users.servers %></p>
        <p id="username" class="form-control">Databases: <%= users.databases_used %>/<%= users.databases %></p>
        <p id="username" class="form-control">Extra Ports: <%= users.ports_used %>/<%= users.ports %></p>
        <p id="username" class="form-control">Can create servers (Beta): <%= users.beta_access %></p>

        <form>
          <label for="servername">Server name:</label><br>
          <input type="text" id="server_name" name="servername" value=""><br>
          <label for="country">CPU cores:</label><br> 
          <input type="text" id="cpu_cores" name="cpucores" value="1" readonly><br><br>
          <label for="lname">RAM:</label><br>
          <input type="text" id="ram_amount" name="ramamount" value=""><br><br>
          <label for="disk">Disk:</label><br> 
          <input type="text" id="disk" name="disk" value="5000" readonly><br><br>
          <label for="databases">Databases:</label><br> 
          <input type="text" id="datbases" name="databases" value="1" readonly><br><br>
          <label for="country">Extra ports:</label><br> 
          <input type="text" id="extra_ports" name="extraports" value="1" readonly><br><br>
        </form>
        <br />
        <div id="status"></div>
        <div id="chat">
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <link rel="stylesheet" href="../style/style.css" />
</div>

